In [13]:
import requests

import pandas as pd

In [ ]:
lat = 27.988073124741003
lon = 86.92497958336114
API_key = "ba8fc0c7c0af9f0c2a2e114fc9850623" #doplnit vlastn√≠


url = f"https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={API_key}&units=metric"
vysledek = requests.get(url)

In [ ]:
vysledek_dict = vysledek.json()
everest = pd.DataFrame.from_records([vysledek_dict["main"]])
everest

In [38]:
mesta = ["Praha", "Brno", "Ostrava", "Cairo", "Barcelona", "Madrid", "Toronto", "Talin", "Stockholm"]

vysledky = pd.DataFrame()
for city_name in mesta:
    url = f"https://api.openweathermap.org/data/2.5/weather?q={city_name}&appid={API_key}&units=metric"
    vysledek = requests.get(url)
    vysledek_dict = vysledek.json()
    vysledek_dict["main"]["mesto"] = city_name
    radek = pd.DataFrame.from_records([vysledek_dict["main"]]).set_index("mesto")
    vysledky = pd.concat([vysledky, radek])

In [39]:
vysledky

,temp,feels_like,temp_min,temp_max,pressure,humidity,sea_level,grnd_level
mesto,,,,,,,,
Praha,4.06,1.31,2.45,5.03,1016,82,1016,980
Brno,5.12,1.32,3.49,6.03,1019,84,1019,983
Ostrava,7.71,4.86,6.19,8.04,1018,80,1018,990
Cairo,16.42,15.66,15.79,16.42,1018,59,1018,1012
Barcelona,17.09,17.05,15.63,18.22,1018,84,1018,1011
Madrid,10.25,9.16,9.01,11.25,1021,70,1021,946
Toronto,4.51,-0.37,3.51,5.60,1015,77,1015,998
Talin,8.49,4.38,7.51,9.06,1004,75,1004,1001
Stockholm,8.75,6.18,8.00,9.03,997,93,997,992